*{
    margin: 0px;
    font-family: principal;
}

@font-face {
    font-family: principal;
    src: url(../Fonte/Inter/InterVariable-Italic.ttf)
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(../Imagens/Wave.svg);
    gap: 2%; 
}

#logo-body{
    width: 10%;
    margin-top: 2%;
}

#container{
    width: 30%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    row-gap: 2rem;
    height: 78vh;
    background-color: white;
    border: 1px solid grey;
}

#container form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#container h1{
    color: #065fb1;
}

#div-botao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-botao button{
    width: 50%;
    height: 6vh;
    background-color: white;
    border: 2px solid #065fb1;
    border-radius: 5px;
    color: #065fb1;
}

#btn-logar:hover{
    background-color: #0b7be5;
    color: white;
}

form input{
    width: 100%;
    height: 6vh;
    border: 2px solid rgb(178, 176, 176);
}

#info-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 80%;
    row-gap: 1rem;
    color: rgb(79, 78, 78);
}

#div-esqueci{
    width: 80%;
    display: flex;
    justify-content: right;
    font-size: 15px;
    padding-bottom: 15%;
}

#div-esqueci a {
    color: black;
}

#btn-cadastrar{
    width: 45%;
    height: 6vh;
    background-color: #065fb1;
    color: white;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 2%;
}

#btn-cadastrar:hover{
    background-color: white;
    border: 2px solid #065fb1;
    color: #065fb1;
}

hr{
    border: 1px solid #065fb1;
    width: 80%;
}

a{
    display: contents;
}

#response{
    margin-bottom: 2%;
}